* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s linear;
    font-family: Arial, Helvetica, sans-serif;
}


html {
    scroll-behavior: smooth;

}

aside {
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 9999;

}

.logo {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

aside h2 {
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 1.8rem;
}

aside h2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

ul {
    gap: 2rem;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
}


main {
    margin-left: 300px;
}

section {
    min-height: 100vh;
    padding-top: 3rem;
}

#inicio {
    background-image: url('../imagens/adao-sentado.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#inicio h1 {
    margin-left: 100px;
    margin-top: 400px;
    backdrop-filter: blur(6px);
    padding: 1.1rem;
    width: 200px;
    
}

#sobre {
    text-align: center;
    color: #000;
    background-image: linear-gradient(to top, #333, #fff);


}

#galeria {
    text-align: center;
    background-image: linear-gradient(to top, #333, #fff);
}

footer {
    width: 300px;
    bottom: 0;
    left: 0;
    background-color: #222;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
}

.active {
    left: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #222;
}

ion-icon#menu-mobile {
    position: fixed;
    background-color: #fff;
    right: 1rem;
    top: 1rem;
    font-size: 1.6rem;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    display: none;
    cursor: pointer;
    display: none;
    
}


/* Responsvidade */

@media (max-width: 1024px) {

    aside, nav {
        left: -300px;
    }
    ion-icon#menu-mobile {
        display: flex;
    }
    main {
        margin-left: 0;
    }
    footer {
        position: static;
        width: auto;
        padding: 20px 15px;
    }
   
}