* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear;
}


aside {
    width: 300px;
    height: 100vh;
    background-color: orange;
    position: fixed;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

aside h2 {
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 1.8rem;
}

aside h2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main {
    margin-left: 300px;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

#inicio {
    background-image: url('../imagens/adao-sentado.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#sobre {
    color: #fff;
}

#galeria {
    color: #fff;
    background-color: #333;
}